---
import '@styles/tailwind.css'
import Resume from "../../layouts/Resume.astro";
---
<html lang="en">
    <head>
    </head>
    <body>
        <Resume/>
        <script>
          print();
        </script>
    </body>
</html>