---
import '@styles/tailwind.css'
import PrintableResume from "../../layouts/PrintableResume.astro";
---
<html lang="en">
    <head>
    </head>
    <body>
      <PrintableResume/>
    </body>
</html>