---
import '@styles/tailwind.css';
import {getEntry} from "astro:content";

const resumeData =  await getEntry('resume', 'index');
const contacts = resumeData.data.you.contacts;
---
<div class=`flex flex-col`>
    {
        contacts?.map(contact => {
           return (
               <div class="flex">
                 <a href=`mailto:${contact.value}`>{contact.value}</a>
               </div>
           );
        })
    }
</div>