---
import '@styles/tailwind.css';
import Section from "./Section.astro";
import {getEntry} from "astro:content";

const resumeData =  await getEntry('resume', 'index');
const educations = resumeData.data.educations;
---
<Section title="Education">
    {
        educations.map((edu: any) => {
            return (
                <div>
                  <div>{ edu.degree }</div>
                  <div>{ edu.university }</div>
                  <div>{ edu.period }</div>
                </div>
            )
        })
    }
</Section>