---
---
<div
    class="
    w-16 h-16 fixed bottom-[5%] right-[5%]
    flex justify-center items-center
    rounded-full
    shadow-lg shadow-gray
    text-lg text-white
    rolling-rainbow
    "
>
  <a target="_blank"
     href="/resume/printable"
  >
      Print!
  </a>
</div>
