---
---
<div
    class="
    w-16 fixed top-[20%] right-[20%]
    flex justify-center
    rounded-full
    shadow-lg shadow-gray
    text-lg text-white
    rolling-rainbow
    "
>
  <a target="_blank"
     href="/resume/printable"
  >
      Print!
  </a>
</div>
