---
import '@styles/tailwind.css';
import Skill from "./Skill.astro";
import Education from "./Education.astro";
import MyAvatar from "../MyAvatar.astro";
---

<div>
    <MyAvatar/>
    <Skill/>
    <Education
            name="FCU"
            title="Becholor"
            period="a - b"
            brief="hello"
    />
</div>