---
import '@styles/tailwind.css';
import Skill from "./Skill.astro";
import Education from "./Education.astro";
import MyAvatar from "../MyAvatar.astro";
import Strength from "./Strength.astro";
---

<div>
  <MyAvatar />
  <Skill />
  <Strength />
  <Education />
</div>