---
import '@styles/tailwind.css';
import Section from "./Section.astro";
---
<Section title="Skill">
    <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
    </ul>
</Section>