---
import '@styles/tailwind.css';
import Section from "./Section.astro";
import resumeData from '@content/resume/index.yaml';
import SkillChip from "./SkillChip.astro";

const data = resumeData;
---
<Section title="Skill">
    <div class="flex flex-wrap m-4">
    {
        data.skills.map((skill) => {
            return (
                <SkillChip value={skill} />
            )
        })
    }
    </div>
</Section>