---
import '@styles/tailwind.css';

const { value } = Astro.props
---
<span class="
     flex items-center
     h-8 m-2
">
    <div class="
        border-b-2 border-dashed
        text-black
    ">
        {value}
    </div>
</span>
