---
import '@styles/tailwind.css';
import Section from "./Section.astro";
import TechStack from "./TechStack.astro";
import { getEntry } from "astro:content";

const resumeData = await getEntry('resume', 'index');
const skills = resumeData.data.skills;
---
<Section title="Skill">
  <p class="font-bold">
    {skills?.map((skill: any) => <TechStack value={skill}/>)}
  </p>
</Section>