---
import '@styles/tailwind.css';
import Section from "./Section.astro";
import SkillChip from "./SkillChip.astro";
import { getEntry } from "astro:content";

const resumeData =  await getEntry('resume', 'index');
const strengths = resumeData.data.strengths;
---
<Section title="Strength">
  <div class="flex flex-col flex-wrap m-4">
      {
          strengths?.map(str => { return (
             <p class="item m-2 font-bold">{str}</p>
          )})
      }
  </div>
</Section>