---
import '@styles/tailwind.css';
import Section from "./Section.astro";
import { getEntry } from "astro:content";

const resumeData =  await getEntry('resume', 'index');
const strengths = resumeData.data.strengths;
---
<Section
    title="Strength"
    printHidden="true"
>
  <div class="flex flex-col flex-wrap">
      {
          strengths?.map(str => { return (
             <div class="item font-bold">{str}</div>
          )})
      }
  </div>
</Section>