---
import '@styles/tailwind.css';

const { value } = Astro.props
---
<span class="
     h-8 ml-4
     font-light
     border-b-2 border-dashed text-black
     cursor-pointer"
>
        {value}
</span>
