---
import '@styles/tailwind.css';
import { getEntry } from "astro:content";

const resumeData =  await getEntry('resume', 'index');
---
<div>
  <h1>{ resumeData.data.name }</h1>
  <h1>{ resumeData.data.title }</h1>
  <p class="px-16 my-8">{ resumeData.data.summary }</p>
</div>