---
import '@styles/tailwind.css';
import { getEntry } from "astro:content";
import Contacts from "./Contacts.astro";

const resumeData =  await getEntry('resume', 'index');
---
<div
    class="
    p-4
    grid-cols-12
    md:grid
    print:grid
    "
>
  <div
      class="
      flex flex-col
      md:col-span-8
      print:col-span-8 print:justify-self-end
      "
  >
    <h3>{ resumeData.data.you.name }</h3>
    <h4 class="text-gray">{ resumeData.data.you.title }</h4>
  </div>
  <Contacts />
</div>
