---
import '@styles/tailwind.css';
import { getEntry } from "astro:content";

const resumeData =  await getEntry('resume', 'index');
---
<div>
  <h3>{ resumeData.data.name }</h3>
  <h4 class="text-gray">{ resumeData.data.title }</h4>
</div>