---
import BaseLayout from "../../layouts/BaseLayout.astro";
import getTagByCollection from "../../libs/astro/getTagByCollection";
import getPosts from "../../libs/astro/getPosts";
import Clip from "../../components/Chip.astro";

const posts = await getPosts('blog');
const tags = [...getTagByCollection(posts)];
---
<BaseLayout>
    <h1>Go to...</h1>
    <div class="tags">
        {tags.map((tag) => (
            <Clip class="tag" tag={tag}/>
        ))}
    </div>
</BaseLayout>
<style>
    .tags {
        display: flex;
        flex-wrap: wrap;
    }

    .tag {
        margin: 0.25em;
        border: dotted 1px #a1a1a1;
        border-radius: .5em;
        padding: .5em 1em;
        font-size: 1.15em;
        background-color: #F8FCFD;
    }
</style>