---
import {SITE} from "../consts";
---
<div class="flex flex-col items-center m-8">
    <img
        class="
            w-48 h-48 rounded-full
            print:hidden
        "
        src={SITE.avatar}
        alt="my avatar"
    />
</div>
