<div class="container">
    <div class="row justify-content-center">

        {% assign imageKeys = site.data.post-categories | map: "id" %}
        {% for imageCategory in imageKeys %}
        <div class="row">
            <p>{{ imageCategory }}</p>
        </div>
          {% for image in site.data.post-categories.imageCategory %}
            <div class="card text-center" style="width: 12rem;">
                <a href="{{ image.url }}" style="padding: 16px;">
                <img class="card-img-top" src="{{ image.src }}"/>
                </a>
                <h5 class="card-title">{{ image.title }}</h5>
            </div>
          {% endfor %}
        {% endfor %}
    </div>

    <div class="row justify-content-center">

        <div class="container">
            <div class="row justify-content-center">
                <h3>Credits</h3>
            </div>
            <div class="row justify-content-center">
                <ul>
                    <li><a href="https://iconscout.com/icons/apple" target="_blank">Apple Icon</a> by <a
                                href="https://iconscout.com/contributors/pocike" target="_blank">Alpár - Etele Méder</a>
                    </li>
                    <li><a href="https://iconscout.com/icons/linux" target="_blank">Linux Icon</a> by <a
                                href="https://iconscout.com/contributors/icon-54" target="_blank">Icon 54</a></li>
                    <li><a href="https://iconscout.com/icons/javascript" target="_blank">Javascript Icon</a> by <a
                                href="https://iconscout.com/contributors/icon-mafia" target="_blank">Icon Mafia</a></li>
                    <li><a href="https://iconscout.com/icons/python" target="_blank">Python Icon</a> by <a
                                href="https://iconscout.com/contributors/icon-54">Icon 54</a> on <a
                                href="https://iconscout.com">Iconscout</a></li>
                    <li><a href="https://iconscout.com/icons/git" target="_blank">Git Icon</a> by <a
                                href="https://iconscout.com/contributors/icon-mafia" target="_blank">Icon Mafia</a></li>
                    <li>
                        <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a
                                    href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
                    </li>
                    <li>
                        <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect"
                                              title="Pixel perfect">Pixel perfect</a> from <a
                                    href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
                    </li>
                    <li>Golang Icon made by <a href="https://www.google.com/">Google</a></li>
                    <li>Docker Icon made by <a href="https://www.docker.com/">Docker</a></li>
                    <li>Kubernetes Icon made by <a href="https://https://kubernetes.io/">Kubernetes</a></li>
                </ul>
            </div>
        </div>
    </div>

