<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link ref="stylesheet" href="/assets/css/components.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <script>
        function st() {
            const scrollElement = window.document.scrollingElement || window.document.body || window.document.documentElement;
            anime({
                targets: scrollElement,
                scrollTop: 0,
                duration: 500,
                easing: 'easeInOutQuad'
            });
        }
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">{{ site.title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <div class="btn-group">
                    <button type="button" class="btn" onclick="window.location='/edit'">編輯</button>
                    <button type="button" class="btn" onclick="window.location='/blog'">文章</button>
                    <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for imageSet in site.data.post-categories.images %}
                        <a class="dropdown-item" href="#" disabled>{{ imageSet.category }}</a>
                        {% for item in imageSet.items%}
                        <a class="dropdown-item" style="font-size: 12px;" href="{{ item.url }}">{{ item.title }}</a>
                        {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="page-content">
    <div style="padding: 16px;">
        <h1>{{ page.title }}</h1>
        <p class="card-subtitle mb-2 badge badge-pill badge-light">{{ page.date | date: "%Y-%m-%d" }}</p>
        {% for tag in page.tags %}
        <p class="card-subtitle mb-2 badge badge-pill badge-info">{{ tag }}</p>
        {% endfor %}
    </div>
    <aside>
        <ins class="adsbygoogle"
             style="display:block; text-align:center;"
             data-ad-layout="in-article"
             data-ad-format="fluid"
             data-ad-client="ca-pub-8697254459144678"
             data-ad-slot="8452832131">
        </ins>
    </aside>
    <main class="page-content" style="padding: 16px;">
        {{ content }}
    </main>
    <aside>
        <ins class="adsbygoogle"
             style="display:block; text-align:center;"
             data-ad-layout="in-article"
             data-ad-format="fluid"
             data-ad-client="ca-pub-8697254459144678"
             data-ad-slot="8452832131">
        </ins>
    </aside>
</div>
<button type="button" class="rounded-circle rounded-sm btn btn-light" style="position: fixed;width: 64px;height: 64px;right: 32px; bottom: 32px;" onclick="st()">^</button>
<footer class="bg-light" style="height: 64px; justify-content: center; display: grid;">
    <p style="padding: 16px">All rights reserved</p>
</footer>
</body>
</html>