---
import '@styles/tailwind.css';
import Profile from "../components/resume/group/Profile.astro";
import Experience from "../components/resume/Experience.astro";
import You from "../components/resume/You.astro";
import Summary from "../components/resume/Summary.astro";
import Education from "../components/resume/Education.astro";
---
<div class=`
  flex flex-col
  `
>
  <You/>
  <Summary/>
  <Profile />
  <Experience />
  <Education />
</div>