---
import '@styles/tailwind.css';
import Profile from "../components/resume/Profile.astro";
---
<html lang="en">
<body>
<div class=`fixed w-full min-h-full grid grid-cols-12`>
    <div class='bg-yellow min-h-full col-span-8'>02</div>
    <div class='bg-blue min-h-full col-span-4'>
        <Profile/>
    </div>
</div>
</body>
</html>