---
import '@styles/tailwind.css';
import Profile from "../components/resume/Profile.astro";
import Title from "../components/resume/Title.astro";
import Experience from "../components/resume/Experience.astro";
---
<div class=`
  grid grid-cols-12
  px-[5%] 
  shadow-gray-500`
>
  <div class='
    flex flex-col min-h-full col-span-8
    pt-4 pl-16 pr-4 pb-16
  '>
    <Title/>
    <Experience />
  </div>
  <div class='min-h-full col-span-4 bg-gray-light p-4'>
    <Profile/>
  </div>
</div>
